@font-face {
    font-family: 'DomaineDisplay';
    src: url("");
    src: local('DomaineDisplay-MediumItalic'),
        url("domaine-display-web-medium-italic.eot") format('embedded-opentype'),
        url("domaine-display-web-medium-italic.woff2") format('woff2'),
        url("domaine-display-web-medium-italic.woff") format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DomaineDisplay';
    src: url("");
    src: local('DomaineDisplay-Bold'),
        url("domaine-display-web-bold.eot") format('embedded-opentype'),
        url("domaine-display-web-bold.woff2") format('woff2'),
        url("domaine-display-web-bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}